.dancers-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.dancers {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  margin: 25px;
  padding: 25px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
